@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 28s linear infinite;
}
@keyframes glow {
  0% {
    opacity: 0.35;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.35;
  }
}



body {
  font-family: "Bricolage Grotesque", sans-serif !important;
  background: black;
}


.bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}